ion-searchbar{
    --background: #cdcdcd;
}

#stockvalue{
    color: red;
    text-align: end;
}

#pricevalue{
    text-align: center;
}

.listclass{
    font-size: 14px;
}

#listheader{
    font-size: 16px;
    font-weight: bold;
}