<ion-header>
</ion-header>
<ion-content> 
  <!--logo png on the top of the page-->       
  <!--<img src= "assets/images/Logo.png" class="center">-->
  <!--Top text-->
  <h1 align="center">Sign Up Now</h1>
  <p align="center">Please fill the details and create an account</p>
  <hr>
  <!--input fields-->
  <ion-input id="firstname" placeholder="Firstname" class="css"></ion-input>
  <hr>
  <ion-input id="lastname" placeholder="Lastname" class="css"></ion-input>
  <hr>
  <ion-input id="email" placeholder="email" class="css"></ion-input>
  <hr>
  <ion-input id="phonenumber" placeholder="Phone number" class="css"></ion-input>
  <hr>
  <ion-input id="password" placeholder="Password" class="css"></ion-input>
  <hr>
  <ion-input id="password" placeholder="Verify Password" class="css"></ion-input>
  <hr>
  <hr>
  <ion-button id="signupButton" expand="block">Signup</ion-button>
  <hr>
    <p id="existaccount" class="inline">Already have an account?</p>
    <p id="login" class="inline" (click)="loginButtonFun()">Log in</p>
</ion-content>