<ion-header>
  <ion-toolbar>
    <ion-title>Monthly Sales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img id="itemimage" src="assets/images/chart.jpg" class="center"></ion-img>
  <hr>
  <ion-list-header lines="inset">
    <ion-label id="listheader">Monthly Flow</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-label class="listclass">1 Dead Blot Lock 21</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="listclass">2 Dead Lock 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="listclass">3 Cavity Sliding Dorr Lock 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="listclass">4 Knob Set 5</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
