#titleitempage{
    text-align: center;
}

#itemimage{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.listclass{
    font-size: 14px;
}

#listheader{
    font-size: 16px;
    font-weight: bold;
}
 